 /* .slidpg{
  position: absolute;
  top: -73px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px #202125, -3px -3px 3px #3e3e3e;
 }

  
.timeline .bor{
    border-left: 5px solid #094a68;
    padding: 0px 31px;
}

 

  */
  /* .timeline .bor:before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #34ace0;
    border-radius: 50%;
    left: -10px;
    top: 39px;
    transition: .5s;
}
.timeline .bor{
	padding:20px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
} */

.bor{
    top: 31px;
    left: -16px;
}



.progress {
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 17px;
    width: 92%;
    box-shadow: inset 3px 3px 3px #202125, inset -3px -3px 3px #3e3e3e;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
    transition: 1s ease 0.3s;
     
}
